$main_font: "Roboto", sans-serif;
$secondary_font: "Baloo Bhai", cursive;

@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic");

@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai");

$dark_blue: #222831;
$pink: #d65a31;
$grey: #eeeeee;

$primary_clr: $dark_blue;
$secondary_clr: $pink;
$tertiary_clr: $grey;
